# Environnement virtuel
VENV/

# Fichiers Python
__pycache__/
*.py[cod]


# Configurations d'éditeur
.vscode/
.idea/

# Fichiers de logs ou temporaires
*.log
*.pot
*.pyc

# Django-specific

staticfiles/
media/
.env
